@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src:
      local($fname),
      url($furl) format("woff2");
  }
}
